* {
    font-family: 'Poppins', sans-serif;
}

.display-4 {
    font-weight: 600;
}

.lead {
    font-weight: 400;
}

.style {
    font-style: italic;
    color: #ec0606;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #ddd;
}

#about {
    background-color: #ddd;
}

section {
    padding-top: 5rem;
}